
:root {
    --blue: #003049;
    --red: #d62828;
    --orange: #f77f00;
    --yellow: #ffbe0b;
    --mellon: #eae2b7;
  }

  body {
    width: 100vw;
    height: 100vh;
    background-color: var(--blue);
  }

  .grid-container {
    width: 600px;
    height: 600px;
    display: grid;
    background-color: var(--red);
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 300px 300px;
    place-content: center;
    grid-template-areas: 
    "one one one"
    "two two two";
}
 
  .grid-item-1 {
    height: 80px;
    width: 80px;
    background-color: var(--yellow);
    grid-area: "one";
  }

  .grid-item-2 {
    width: 80px;
    height: 80px;
    background-color: var(--orange);
    grid-area: "two";
  }