@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Tilt+Neon&display=swap");

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Tilt Neon', cursive;
*/

:root {
  --blue: #003049;
  --red: #d62828;
  --orange: #f77f00;
  --yellow: #ffbe0b;
  --mellon: #eae2b7;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: center;
  background-color: var(--mellon);
  color: var(--mellon);
}

.container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: grid;
  grid-gap: 0.125em;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "main main main header"
    "main main main header"
    "navigation footer footer footer"
    "navigation footer footer footer";
}

.item {
  padding: 0.25em;
}

.header {
  grid-area: header;
  background-color: var(--blue);
}
img {
  height: auto;
  width: auto;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: navigation;
  background-color: var(--red);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main;
  background-color: var(--orange);
}

.footer {
  grid-area: footer;
  background-color: var(--yellow);
}
